<a href="https://colab.research.google.com/github/raahatg21/Movie-Recommender-System/blob/master/content_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Content based Recommender System of Movies

Content-based recommenders suggest similar items based on a particular item. This system uses item metadata, such as genre, director, description, actors, etc. for movies, to make these recommendations. The general idea behind these recommender systems is that if a person liked a particular item, he or she will also like an item that is similar to it.

We use the dataset of all movies in IMDB (derived by MovieLens 20M Dataset).

## Plot Description based Recommender

### Workflow

- Select the 'overview' of each movie
- Convert it into TF-IDF vectors and construct TF-IDF matrix
- Calculate the similarity score using cosine similarity
- User inputs a movie title
  - We find similarity scores of all movies w.r.t. that title
  - Sort them
  - Select the 10 most similar movies to input movie

In [0]:
import pandas as pd
import numpy as np
import os

In [0]:
# Mounting Google Drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
BASE_DIR = '/content/drive/My Drive/Recommender System/the-movies-dataset'

In [0]:
metadata_path = os.path.join(BASE_DIR, 'movies_metadata.csv')
credits_path = os.path.join(BASE_DIR, 'credits.csv')
keywords_path = os.path.join(BASE_DIR, 'keywords.csv')

In [0]:
# Load the movies metadata

metadata = pd.read_csv(metadata_path, low_memory = False)

metadata.shape

(45466, 24)

In [0]:
metadata.head(5)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [0]:
# Let's look at movie overviews

metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

Since the entire data is too large, we'll only be using the top 10% popular movies (movies with at least 160 votes)

In [0]:
m = metadata['vote_count'].quantile(0.90)

q_metadata = metadata.copy().loc[metadata['vote_count'] >= m]
q_metadata = q_metadata.reset_index()

q_metadata.shape

(4555, 25)

In [0]:
q_metadata.head()

   index  adult  ... vote_average vote_count
0      0  False  ...          7.7     5415.0
1      1  False  ...          6.9     2413.0
2      4  False  ...          5.7      173.0
3      5  False  ...          7.7     1886.0
4      8  False  ...          5.5      174.0

[5 rows x 25 columns]

That's better!

In [0]:
q_metadata['overview'] = q_metadata['overview'].fillna('')

In [0]:
# Now, processing this text using TF-IDF Vectorizer

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words = 'english')  # initialising the TF-IDF Vector object

tfidf_matrix = tfidf.fit_transform(q_metadata['overview'])  # Constructing the TF-IDF Matrix (no. of movies x every word in vocabulary)
tfidf_matrix.shape

(4555, 19694)

In [0]:
# Computing the cosine similarity

from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)  # Constructing the Cosine Similarity Matrix (no. of movies x no. of movies)
cosine_sim.shape

(4555, 4555)

In [0]:
# Construct a reverse map of indices and titles

indices = pd.Series(q_metadata.index, index = q_metadata['title']).drop_duplicates()

In [0]:
# Function that inputs movie titles and outputs top 10 movies similar to it

def get_recommendations(title, cosine_sim = cosine_sim):
  idx = indices[title]
  
  sim_scores = list(enumerate(cosine_sim[idx]))  # Get the similarity scores of all movies wrt input movie
  sim_scores = sorted(sim_scores, key = lambda x : x[1], reverse = True)
  sim_scores = sim_scores[1:11]
  
  movie_indices = [i[0] for i in sim_scores]
  
  return q_metadata['title'].iloc[movie_indices]

In [0]:
get_recommendations('The Dark Knight Rises')

47                               Batman Forever
2398                            The Dark Knight
444                              Batman Returns
185                                      Batman
2824                 Batman: Under the Red Hood
3084                           Batman: Year One
3318    Batman: The Dark Knight Returns, Part 1
4249                          Batman: Bad Blood
3355    Batman: The Dark Knight Returns, Part 2
981                Batman: Mask of the Phantasm
Name: title, dtype: object

In [0]:
get_recommendations('Titanic')

841                                  The Legend of 1900
1451                                         Ghost Ship
493                                       Event Horizon
3394                                          Populaire
1610    Master and Commander: The Far Side of the World
2733                                           Triangle
1957                                           Serenity
1417                               K-19: The Widowmaker
2991        Pirates of the Caribbean: On Stranger Tides
2090                                           Poseidon
Name: title, dtype: object

While our system has done a decent job of finding movies with similar plot descriptions, the quality of recommendations is not that great. "The Dark Knight Rises" returns all Batman movies while it more likely that the people who liked that movie are more inclined to enjoy other Christopher Nolan movies. 

So fix this, we incorporate information about the director, actors and genre of the movie into our model

## Credits, Genres and Keywords based Recommender

### Workflow
- Get the credits and keywords for each movie from separate csv files and merge them into the current dataframe
- Convert them from 'stringified' lists to a from that is more suitable to us
- Clean the data, convert them into lower case, and remove spaces
- Join these features to create a 'metadata soup'
- Convert this soup into vectorised format using Count Vectorizer
- Calculate cosine similarity from the Count matrix
- Use the existing `get_recommendations()` function to get movie recommendations using this cosine similarity

In [0]:
credits = pd.read_csv(credits_path)
keywords = pd.read_csv(keywords_path)

In [0]:
# Convert the ids to int and merge the dataframes

keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
q_metadata['id'] = q_metadata['id'].astype('int')

q_metadata = q_metadata.merge(credits, on='id')
q_metadata = q_metadata.merge(keywords, on='id')

q_metadata.shape

(4606, 28)

In [0]:
q_metadata.head()

   index  ...                                           keywords
0      0  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1      1  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2      4  ...  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
3      5  ...  [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
4      8  ...  [{'id': 949, 'name': 'terrorist'}, {'id': 1562...

[5 rows x 28 columns]

In [0]:
features = ['cast', 'crew', 'keywords', 'genres']
features_d = ['cast', 'keywords', 'genres']

In [0]:
# Parse the stringified features into usable python objects

from ast import literal_eval

for feature in features:
  q_metadata[feature] = q_metadata[feature].apply(literal_eval)

q_metadata.head()

   index  ...                                           keywords
0      0  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1      1  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2      4  ...  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
3      5  ...  [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
4      8  ...  [{'id': 949, 'name': 'terrorist'}, {'id': 1562...

[5 rows x 28 columns]

In [0]:
# Extracting the director's name

def get_director(x):
  for i in x:
    if i['job'] == 'Director':
      return str(i['name'])
  
  return np.nan

In [0]:
# Extracting top 3 members of any list

def get_list(x):
  if isinstance(x, list):  # if x is a list
    names = [str(i['name']) for i in x]
    
    if len(names) > 3:
      names = names[:3]
      
    #names = list(names)
    
    return names
  
  return []

In [0]:
q_metadata['director'] = q_metadata['crew'].apply(get_director)

for f in features_d:
  q_metadata[f] = q_metadata[f].apply(get_list)

In [0]:
q_metadata[['title', 'cast', 'director', 'keywords', 'genres']].head()

                         title  ...                         genres
0                    Toy Story  ...    [Animation, Comedy, Family]
1                      Jumanji  ...   [Adventure, Fantasy, Family]
2  Father of the Bride Part II  ...                       [Comedy]
3                         Heat  ...         [Action, Crime, Drama]
4                 Sudden Death  ...  [Action, Adventure, Thriller]

[5 rows x 5 columns]

In [0]:
def clean_data(x):
  if isinstance(x, list):  # if x is a list
    try:
      return [str.lower(i.replace(' ', '')) for i in x]
    except:
      return ''
  
  else:
    if isinstance(x, str):  # if x is name of director
      return str.lower(x.replace(' ', ''))
    
    else:
      return ''

In [0]:
for feature in features:
  q_metadata[feature] = q_metadata[feature].apply(clean_data)

In [0]:
q_metadata[['title', 'cast', 'director', 'keywords', 'genres']].head()

                         title  ...                         genres
0                    Toy Story  ...    [animation, comedy, family]
1                      Jumanji  ...   [adventure, fantasy, family]
2  Father of the Bride Part II  ...                       [comedy]
3                         Heat  ...         [action, crime, drama]
4                 Sudden Death  ...  [action, adventure, thriller]

[5 rows x 5 columns]

In [0]:
# Creating the metadata soup

def create_soup(x):
  return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [0]:
q_metadata['soup'] = q_metadata.apply(create_soup, axis = 1)

q_metadata['soup'].head()

0    jealousy toy boy tomhanks timallen donrickles ...
1    boardgame disappearance basedonchildren'sbook ...
2    baby midlifecrisis confidence stevemartin dian...
3    robbery detective bank alpacino robertdeniro v...
4    terrorist hostage explosive jean-claudevandamm...
Name: soup, dtype: object

In [0]:
# Using Count Vectorizer and creating the count matrix

from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words = 'english')

count_matrix = count.fit_transform(q_metadata['soup'])
count_matrix.shape

(4606, 10907)

In [0]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)
cosine_sim2.shape

(4606, 4606)

In [0]:
q_metadata = q_metadata.reset_index()

indices = pd.Series(q_metadata.index, index = q_metadata['title'])

In [0]:
get_recommendations('The Dark Knight Rises', cosine_sim2)

2411            The Dark Knight
1956              Batman Begins
2176               The Prestige
815                   Following
4592                    Dunkirk
4014    Kidnapping Mr. Heineken
1783                   Catwoman
2930                     Faster
3026                     Takers
3102                 The Double
Name: title, dtype: object

In [0]:
get_recommendations('John Wick', cosine_sim2)

4521                     John Wick: Chapter 2
3708                                     Rage
98                             The Specialist
3932                                  Taken 3
1227                              Point Break
2305                                      War
2737    The Girl Who Kicked the Hornet's Nest
2753            The Girl Who Played with Fire
3514                                  Riddick
523                                The Jackal
Name: title, dtype: object